<form class="item_form" method='post' action="{{ path }}">
	{{ form.hidden_tag() }}
	<div class="form_row">
		<label>{{ form.name.label.text }}<span class="required">*</span>:</label>
		{{ form.name(class="form-control") }}
		{% if form.name.errors %}
        <ul class="errors">
        	{% for error in form.name.errors %}
        	<li>{{ error }}</li>
        	{% endfor %}
        </ul>
    	{% endif %}
	</div>
	
	<div class="form_row">
		<label>{{ form.books.label.text }}:</label>
		{{ form.books(class="form-control") }}
		{% if form.books.errors %}
        <ul class="errors">
        	{% for error in form.books.errors %}
        	<li>{{ error }}</li>
        	{% endfor %}
        </ul>
    	{% endif %}
	</div>
</form>